body{
    background: url("./asserts/output-onlinepngtools.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* filter: opacity(50%); */
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
